@using EstagioGRT.Models;

@{
    ViewBag.Title = "Fluxo de Caixa";
}

<div class="jumbotron">
    <h1>Estudo GRT</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @if(ViewBag.FluxoCaixa != null)
        {
            foreach(Caixa caixa in ViewBag.FluxoCaixa)
            {
                @Html.Raw(caixa.Nome);
            }
        }
    </div>
</div>