
@{
    ViewBag.Title = "Fluxo de Caixa";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<h2>Fluxo de Caixa</h2>

<div class="alert alert-success carregando hide">Carregando</div>
<div class="alert alert-danger error hide"></div>
<div class="alert alert-success deletado hide"><a class="close" data-dismiss="alert"> × </a>Deletado</div>

<div>
    <label>*Nome:</label>
    <br />
    <input id="nome" type="text" />
    <br />
    <label>*Valor:</label>
    <br />
    <input id="valor" type="text" />
    <br />
    <label>*Operação:</label>
    <br />
    <select id="operacao">
        <option value=" "> </option>
        <option value="E">E</option>
        <option value="S">S</option>
    </select>
    <br />
    <button id="enviar">Enviar</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Valor
            </th>
            <th>
                Operação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="container" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto"></div>

@section scripts{
    <script type="text/javascript">
        function carregarLista() {
            $('.carregando').removeClass("hide");
            $.ajax({
                method: "GET",
                url: "@Html.Raw(Url.Action("","api/Caixa"))",
                data: {}
            })
            .done(function (r) {
                if (r != undefined) {
                    $('.table tbody').html("");
                    for (var i = 0; i < r.length; i++) {
                        $('.table tbody').append("<tr>");
                        $('.table tbody').append("<td>" + r[i].Id + "</td>");
                        $('.table tbody').append("<td>" + r[i].Nome + "</td>");
                        $('.table tbody').append("<td>" + r[i].Valor + "</td>");
                        $('.table tbody').append("<td>" + r[i].Operacao + "</td>");
                        $('.table tbody').append("<td>" + '<button id="deletar"data-id="' + r[i].Id + '">Deletar</button>' + "</td>");
                        $('.table tbody').append("<td>" + '<button id="editar"data-id="' + r[i].Id + '">Editar</button>' + "</td>");
                        $('.table tbody').append("</tr>");
                    }
                    $('.carregando').addClass("hide");
                }
            });
        }
        carregarLista();

        $('#enviar').on('click', function () {
            $.ajax({
                method: "POST",
                url: "@Html.Raw(Url.Action("Create","api/Caixa"))",
                data: { Nome: $('#nome').val(), Valor: $('#valor').val(), Operacao: $('#operacao').val() }
            })
            .done(function (r) {
                carregarLista();
                $('.error').addClass('hide');
                $('#nome').val(''), $('#valor').val(''), $('#operacao').val('');
            })
            .error(function (r) {
                $('.error').html(r.responseJSON.Message);
                $('.error').removeClass('hide');
            });
        });

        $('body').on('click', '#deletar', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: "GET",
                url: "@Html.Raw(Url.Action("Delete","api/Caixa"))" + "/" + id,
                data: {},
                success: function (r) {
                    carregarLista();
                    $('.deletado').removeClass('hide');
                    $('.deletado').html(r.responseJSON.Message);
                    $('#table').remove();
                },
                error: function (r) {
                    $('.deletado').addClass('hide');
                }
            });
        });

        $('body').on('click', '#editar', function() {



        });

        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            title: {
                text: 'Fluxo<br>caixas<br>',
                align: 'center',
                verticalAlign: 'middle',
                y: 40
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: -50,
                        style: {
                            fontWeight: 'bold',
                            color: 'white'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                }
            },
            series: [{
                type: 'pie',
                name: 'Fluxo do caixa',
                innerSize: '70%',
                data: [
                    ['Entradas', 1],
                    ['Saidas', 2],  
                ]
            }]
        });
    </script>
}
